<div class="container">
  <div class="loading" ng-if="showloading">loading...</div>
  <div class="weather" ng-if="!showloading">
    <p>{{location.addressComponent.city}}</p>
    <p>{{weather.weather[0].description}}</p>
    <p><i class="wi {{weather.weather[0].id}}"></i></p>
    <p>当前温度{{weather.main.temp - 273.15  | number:0}}<i class="wi wi-degrees"></i></p>
    <p>风速{{weather.wind.speed}}mps</p>
    <p>风向{{weather.wind.deg}}风</p>
    <p>湿度{{weather.main.humidity}}%</p>
    <p>气压{{weather.main.pressure | number:0}}hPa</p>
  </div>
</div>
