<div class="install_wrap" ng-if="!installed && !webopen">
  <div class="install_intro">
    <p class="intro_text">IOS用户请在Safari中打开并将本应用添加到主屏幕以获得最佳体验效果</p>
    <a class="button button-energized" href="javascript:;" ng-click="openbyweb()">我就要这么打开</a>
  </div>
</div>
<div class="iosheader" ng-if="installed"></div>
<div class="wrap" ng-class="{iosdevice:installed}" ng-if="installed || webopen">
  <div class="loading" ng-show="!showWeather">
    <div class="spinner"></div>
  </div>
  <div snap-drawer="left" ng-if="!showloading" class="leftslider_wrap">
    <div class="leftslider">
      <div class="list leftslider_list">
        <!--<a href="javascript:;" class="item">分享</a>-->
        <a href="javascript:;" class="item" ng-click="currentPositionJump()">当前位置</a>
        <div class="item position_item" ng-repeat="position in positionArray">
          <a class="link" href="javascript:;" ng-click="positionJump('{{position.lat}}','{{position.lon}}','{{position.name}}')">{{position.name}}</a>
          <span class="delete" ng-click="deletePosition('{{position.name}}')"><i class="ion-ios-minus-outline"></i></span>
        </div>
        <a href="javascript:;" class="item" ng-click="showAddPositionFromFn()">添加当前位置</a>
      </div>
      <p class="bottom_editor">作者:ArayZou<br>你若安好，便是晴天<br/>项目源码：github.com/ArayZou/ArayDeWeather</p>
    </div>
  </div>
  <div snap-content snap-options="snapOpts" ng-if="!showloading" class="weather_wrap">
    <div class="weather_main" ng-iscroll="weather_main" ng-iscroll-delay='2000'>
      <div class="weather_content">
        <div class="pullrefresh">{{pullLength}}下拉刷新</div>
        <div class="weather_header bar bar-header">
          <a class="leftslider_btn icon ion-navicon button button-outline button-light" snap-toggle="left"></a>
          <h1 class="title">{{currentPosition.name}}</h1>
          <a class="button button-clear button-light icon ion-ios-plus-outline" ng-click="showAddPositionFromFn()"></a>
        </div>
        <div class="current_weather">
          <div class="current_info">
            <i class="current_wi wi {{weather.weather[0].icon}}"></i>
            <p class="current_infoline">
              <span class="current_des">{{weather.weather[0].description}}</span>
              <span class="current_temp">{{weather.main.temp - 273.15  | number:0}}<i class="wi wi-degrees"></i></span></p>
          </div>
          <div class="current_maxminline">
            <i class="ion-ios-arrow-thin-up"></i><span class="current_maxtemp">{{forecastByDay.list[0].temp.max - 273.15  | number:0}}<i class="wi wi-degrees"></i></span> ~ <span class="current_mintemp">{{forecastByDay.list[0].temp.min - 273.15  | number:0}}<i class="wi wi-degrees"></i><i class="ion-ios-arrow-thin-down"></i></span>
          </div>
          <div class="current_wind">
            <span class="current_windspeed">风力-{{weather.wind.windinfo.level}}</span>
            <span class="current_winddeg">风向-{{weather.wind.deg}}风</span>
            <span class="current_windlevel">风速{{weather.wind.speed}}mps</span>
          </div>
          <div class="current_windinfo">
            <span class="current_windname">{{weather.wind.windinfo.windname}}</span>
            <span class="current_windintro">{{weather.wind.windinfo.windintro}}</span>
          </div>
          <div class="current_moreline">
            <span class="current_humidity">湿度{{weather.main.humidity}}%</span>
            <span class="current_pressure">气压{{weather.main.pressure | number:0}}hPa</span>
          </div>
          <div class="current_suntime">
            <span class="current_sunrise">日出{{weather.sys.sunrise}}</span>
            <span class="current_sunset">日落{{weather.sys.sunset}}</span>
          </div>
        </div>
        <div class="per3hour_body">
          <h2>未来5天整点预报<span>(每3小时)</span></h2>
          <div ng-iscroll="per3hour" class="per3hourwrapper" ng-iscroll-delay='2000'>
            <div class="per3hourscroller" style="width:{{weather3Hour.list.length * 50}}px;">
              <ul class="per3hourlist">
                <li ng-repeat="per3hour in weather3Hour.list">
                  {{per3hour.timedate}}<br/>
                  {{per3hour.timeclock}}<br/>
                  <i class="large-wi wi {{per3hour.weather[0].icon}}"></i><br/>
                  {{per3hour.weather[0].description}}<br/>
                  {{per3hour.main.temp - 273.15  | number:0}}<i class="wi wi-degrees"></i>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="perday_body">
          <h2>未来15天预报<span>(每天)</span></h2>
          <chart value='basicAreaChart' type="area" height="300" chart-obj='chartObj'>
          </chart>
          <ul class="perday_list list">
            <li class="item row" ng-repeat="last10day in forecastByDayPart2">
              <span class="list_date col">
                {{last10day.timedate}}
                周{{last10day.weekday}}
              </span>
              <span class="list_weather col">
                <i class="wi {{last10day.weather[0].icon}}"></i>
                {{last10day.weather[0].description}}
              </span>
              <span class="list_temp col">
                {{last10day.temp.max - 273.15  | number:0}}<i class="wi wi-degrees"></i> ~ {{last10day.temp.min - 273.15  | number:0}}<i class="wi wi-degrees"></i>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="view_mask" ng-show="showMaskLoadding"><div class="mask_loadding"><i class="ion-ios-loop"></i></div></div>
  <div class="view_mask" ng-show="showAddPositionForm">
    <div class="addpositon_form">
      <div class="form_title">添加当前位置(可自定义名称)</div>
      <div class="form_content">
        <label class="form_input item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="添加当前位置名称" ng-model="currentPosition.name">
        </label>
      </div>
      <div class="button-bar">
        <a class="button button-block button-light" ng-click="showAddPositionFromFn()">取消</a>
        <a class="button button-block button-positive" ng-click="submitAddPosition()">添加</a>
      </div>
    </div>
  </div>
</div>
