/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
html, body, .wrap, .weather_wrap {
  width: 100%;
  height: 100%; }

.loading {
  background: #202020;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999; }
  .loading .spinner {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    color: #f00;
    -webkit-animation: color-bubble 2s linear 0s infinite;
    animation: color-bubble 2s linear 0s infinite; }
    .loading .spinner:after, .loading .spinner:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border-radius: 100%;
      box-shadow: 0 0 0 3px;
      -webkit-animation: spinner-bubble 1.3s linear 0s infinite;
      animation: spinner-bubble 1.3s linear 0s infinite;
      margin: auto;
      width: 10px;
      height: 10px;
      opacity: 0; }
    .loading .spinner:before {
      -webkit-animation: spinner-bubble 1.3s linear 2s infinite;
      animation: spinner-bubble 1.3s linear 2s infinite; }

@-webkit-keyframes spinner-bubble {
  from {
    width: 10px;
    height: 10px;
    opacity: .8; }

  to {
    width: 50px;
    height: 50px;
    opacity: 0; } }

@keyframes spinner-bubble {
  from {
    width: 10px;
    height: 10px;
    opacity: .8; }

  to {
    width: 50px;
    height: 50px;
    opacity: 0; } }

@-webkit-keyframes color-bubble {
  0% {
    color: #009DDC; }

  33% {
    color: #50B949; }

  66% {
    color: #EE2D24; }

  100% {
    color: #FEB825; } }

@keyframes color-bubble {
  0% {
    color: #009DDC; }

  33% {
    color: #50B949; }

  66% {
    color: #EE2D24; }

  100% {
    color: #FEB825; } }

.weather_wrap {
  -webkit-transition: all 0.2s linear;
  position: relative;
  z-index: 10;
  background: #fff; }

.weather_main {
  position: absolute;
  z-index: 1;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.weather_content {
  position: absolute;
  z-index: 1;
  width: 100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0); }

.pullrefresh {
  height: 80px;
  text-align: center;
  line-height: 80px;
  border: 1px solid #999;
  margin-top: 0px; }

.pullrefresh.showrefresh {
  margin-top: 0; }

.weather_header {
  position: relative; }

.bar .leftslider_btn {
  font-size: 24px; }

.current_weather {
  text-align: center;
  margin-bottom: 30px; }
  .current_weather .current_info .current_wi {
    font-size: 80px;
    padding: 30px 0 20px; }
  .current_weather .current_info .current_infoline {
    font-size: 22px;
    margin: 0; }
    .current_weather .current_info .current_infoline .current_des {
      padding: 0 20px 0 0; }
    .current_weather .current_info .current_infoline .current_temp wi {
      font-size: 20px; }
  .current_weather .current_maxminline,
  .current_weather .current_wind,
  .current_weather .current_moreline,
  .current_weather .current_suntime {
    line-height: 30px;
    font-size: 18px; }
  .current_weather .current_maxminline .ion-ios-arrow-thin-down,
  .current_weather .current_maxminline .ion-ios-arrow-thin-up {
    font-size: 20px;
    color: #666;
    padding: 0 3px; }
  .current_weather .current_maxminline .wi {
    font-size: 20px; }
  .current_weather .current_windinfo {
    line-height: 24px;
    font-size: 12px; }

.per3hour_body {
  margin-bottom: 30px; }
  .per3hour_body h2 {
    height: 28px;
    line-height: 28px;
    font-size: 16px;
    font-weight: normal;
    border-bottom: 1px solid #ccc;
    padding: 0 0 0 15px; }
    .per3hour_body h2 span {
      color: #999;
      font-size: 12px; }
  .per3hour_body .per3hourwrapper {
    position: relative;
    width: 100%;
    height: 100px;
    overflow: hidden; }
  .per3hour_body .per3hourwrapper .per3hourscroller {
    position: absolute;
    z-index: 1;
    width: 1000px;
    height: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0); }
  .per3hour_body .per3hourwrapper .per3hourlist {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center; }
  .per3hour_body .per3hourwrapper .per3hourlist li {
    display: block;
    float: left;
    width: 50px;
    height: 100%;
    font-size: 12px; }
  .per3hour_body .per3hourwrapper .per3hourlist li .large-wi {
    font-size: 20px; }
  .per3hour_body .per3hourwrapper .per3hourlist li .wi-degrees {
    font-size: 16px; }

.perday_body h2 {
  height: 28px;
  line-height: 28px;
  font-size: 16px;
  font-weight: normal;
  border-bottom: 1px solid #ccc;
  padding: 0 0 0 15px; }
  .perday_body h2 span {
    color: #999;
    font-size: 12px; }
.perday_body .perday_list .list_weather {
  text-align: center; }
.perday_body .perday_list .list_temp {
  text-align: right; }

.leftslider_wrap {
  width: 85%;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: #202020;
  z-index: 1;
  color: #fff; }
  .leftslider_wrap .leftslider_list {
    background: #202020; }
    .leftslider_wrap .leftslider_list .item {
      background: #202020;
      border-color: #000;
      color: #fff;
      text-decoration: none; }
  .leftslider_wrap .bottom_editor {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 12px; }
